/*!
* jQuery SmartTab v4.x
* The flexible tab control plugin for jQuery
* http://www.techlaboratory.net/jquery-smarttab
*
* Created by Dipu Raj (http://dipu.me)
*
* Licensed under the terms of the MIT License
* https://github.com/techlab/jquery-smarttab/blob/master/LICENSE
*/
/* Variables */
/* Root */
:root {
    --st-background: unset;
    --st-border: 1px solid #eeeeee;
    --st-anchor-default-primary-color: #60bef5;
    --st-anchor-default-secondary-color: #dbe0e5;
    --st-anchor-active-primary-color: #009EF7;
    --st-anchor-active-secondary-color: #ffffff;
    --st-anchor-disabled-primary-color: #eeeeee;
    --st-anchor-disabled-secondary-color: #dbe0e5;
    --st-loader-color: #009EF7;
    --st-loader-background-color: #f8f9fa;
    --st-loader-background-wrapper-color: rgba(255, 255, 255, 0.7);
}

/* Base Styles */
.st {
    position: relative;
}

.st *,
.st *::before,
.st *::after {
    box-sizing: border-box;
}

.st > .tab-content {
    position: relative;
    overflow: hidden;
    height: auto;
}


.st > .nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .st > .nav {
        flex-direction: column !important;
        flex: 1 auto;
    }
}

.st > .nav .nav-link {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    height: 100%;
    min-height: 100%;
    text-decoration: none;
}

.st > .nav .nav-link:hover, .st > .nav .nav-link:active, .st > .nav .nav-link:focus {
    text-decoration: none;
}

.st > .nav .nav-link::-moz-focus-inner {
    border: 0;
}

.st > .nav .nav-link.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.st > .nav .nav-link.hidden {
    display: none;
    visibility: none;
}

.st.st-vertical {
    display: flex !important;
    flex-wrap: nowrap;
}

.st.st-vertical > .nav {
    flex-direction: column !important;
    flex: 1 auto;
}

.st.st-vertical > .nav .nav-link {
    text-align: left;
}

.st.st-vertical > .nav > li, .st.st-vertical > .nav .nav-link {
    flex-grow: unset !important;
}

.st.st-vertical > .tab-content {
    flex: 1 100%;
}

.st.st-justified > .nav > li, .st.st-justified > .nav .nav-link {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.st.st-loading {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.st.st-loading::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--st-loader-background-wrapper-color);
    z-index: 2;
}

.st.st-loading::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 2rem;
    height: 2rem;
    border: 10px solid var(--st-loader-color);
    border-top: 10px solid var(--st-loader-background-color);
    border-radius: 50%;
    z-index: 10;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Theme Styles */
.st-theme-elite {
    border-left: 1px solid var(--st-anchor-active-primary-color);
    border-right: 1px solid var(--st-anchor-active-primary-color);
    border-bottom: 1px solid var(--st-anchor-active-primary-color);
    border-radius: 0.5em;
}

.st-theme-elite > .nav {
    background-color: #ffffff;
    border-bottom: 1px solid var(--st-anchor-active-primary-color);
    margin-right: -1px;
    margin-left: -1px;
}

.st-theme-elite > .nav .nav-link {
    border: 1px solid transparent;
    border-bottom-width: 0;
    color: var(--st-anchor-default-primary-color);
}

.st-theme-elite > .nav .nav-link.active {
    color: var(--st-anchor-active-primary-color) !important;
    border-color: var(--st-anchor-active-primary-color) !important;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.st-theme-elite > .nav .nav-link.active::after {
    content: "";
    position: absolute;
    background: #ffffff;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: -1px;
}

.st-theme-elite > .nav .nav-link.disabled {
    color: var(--st-anchor-disabled-primary-color) !important;
}

.st-theme-elite.st-vertical {
    border-left: unset;
    border-top: 1px solid var(--st-anchor-active-primary-color);
    border-right: 1px solid var(--st-anchor-active-primary-color);
    border-bottom: 1px solid var(--st-anchor-active-primary-color);
}

.st-theme-elite.st-vertical > .nav {
    border-right: 1px solid var(--st-anchor-active-primary-color);
    border-bottom: unset;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: 0;
    margin-left: 0;
}

.st-theme-elite.st-vertical > .nav .nav-link {
    border-bottom-width: 1px;
    border-right-width: 0;
}

.st-theme-elite.st-vertical > .nav .nav-link.active {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: unset;
}

.st-theme-elite.st-vertical > .nav .nav-link.active::after {
    height: 100%;
    width: 1px;
    top: 0px;
    left: auto;
    right: -1px;
}
