@import url(https://fonts.googleapis.com/css?family=Roboto);

.themr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 2.5rem;
  background: #666;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 10px #AAB8C2;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.themr-btn:focus,
.themr-btn:hover {
  background: #8773f8;
  outline: none;
}


.themr-wrapper:hover {
  outline: 1px solid #8773f8;
}

.themr-level-2:hover {
  outline: 2px dotted #73f8ed
}

.themr-level-3:hover {
  outline: 1px solid #f8f673
}

.themr-level-4:hover {
  outline: 2px dotted #2f55be
}

.themr-level-5:hover {
  outline: 1px solid #b173f8
}

.themr-level-6:hover {
  outline: 2px dotted #9f32b4
}

.themr-level-7:hover {
  outline: 1px solid #b4be20
}

.themr-level-8:hover {
  outline: 2px dotted #c22f2f
}

.themr-level-9:hover {
  outline: 1px solid #bd895f
}

.themr-level-10:hover {
  outline: 2px solid #518517
}

.themr-level-11:hover {
  outline: 1px solid #5aa842
}

.themr-level-12:hover {
  outline: 1px solid #7bc24b
}

.themr-level-13:hover {
  outline: 1px solid #98689e
}

.themr-level-hovering {
  outline: thick double #2f55be
}

input[type="range"] {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
  width: 100%;
}

#themr-editor {
  display: none;
  background: #c2c2c5;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 40vw;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

#themr-editor #themr-dragbar {
  all: unset;
  background-color: black;
  height: 100%;
  float: left;
  width: 3px;
  cursor: col-resize;
}

.themr-form {
  margin: 10vh 2vh;
}

.themr-color-picker {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.themr-color-picker:hover,
.themr-color-picker:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.themr-color-picker:hover {
  transform: translateY(-1px);
}

.themr-color-picker:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.themr-color-box {
  background: white;
  position: absolute;
  display: none;
  z-index: 100;
  width: 200px;
  height: auto;
  border: 1px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

#background-gradient-preview {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contextMenu {
  position: absolute;
  display: none;
  border: 2px solid black;
  z-index: 15000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contextMenu ul {
  margin: 0;
}

#contextMenu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ccc;
}

#contextMenu ul li:hover {
  background: #aaa;
}

#contextMenu ul li a {
  color: black;
  padding: 5px 15px;
  text-decoration: none;
}

#smarttab {
  display: none;
}

#themr-editor #actions-box {
  position: fixed;
  background: #777;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 10px 20px;
  display: none;
}

#css-changes {
  display: none;
}

#themr-css-editor details {
  width: 100%;
}

#themr-css-editor .tab-pane, #themr-css-editor .tab-content {
  width: 100%;
}
